.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.custom-table th {
    background-color: #f4f4f4; /* Optionnel : Couleur d'en-tête */
    text-align: left;
}